body {
	margin: 0px;
	width: 100%;
	height: 100%;
	background-image: url('222.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(10px);
}

@keyframes expand {
	from {
		/*transform: translateX(50%);*/
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		/*transform: translateX(0);*/
		opacity: 1;
	}
}

.animation {
	animation-name: expand;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.photo {
	position: absolute;
	top: 50px;
	left: 50px;
	margin: 10px;
	width: 15%;
	border: 5px solid #81f1b9;
	border-radius: 50%;
	box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
	transition: all 0.5s ease 0s;
}

.photo:hover {
	position: absolute;
	top: 40px;
	left: 40px;
	margin: 10px;
	width: 17%;
	border: 5px solid #81f1b9;
	border-radius: 50%;
	box-shadow: 4px 8px 8px 8px rgba(0,0,0,0.2);
	transition: all 0.5s ease 0s;
}

.myphoto {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.about {
	position: absolute;
	top: 35%;
	left: 5%;
	height: 50%;
	padding: 20px;
	background-color: rgba(129, 241, 185, 0.5);
	color: #000000;
	width: 15%;
	border: 5px solid #81f1b9;
	border-radius: 20px;
	box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
	overflow:auto;
}

a:link {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #3399ff;
  text-decoration: underline;
}

a:visited {
  color: #007bff;
}

a:active {
  color: #ff0000
}

.bar {
	position: absolute;
	top: 5%;
	left: 30%;
	width: 60%;
	background-color:#69bee5;
	font-size:20px;
	border: 5px solid #81f1b9;
	border-radius: 20px;
	box-shadow: 2px 4px 8px 8px rgba(0,0,0,0.2);
	overflow:auto;
}

.bar a {
	float:left;
	display:block;
	color:black;
	text-align:center;
	padding:15px 20px;
	text-decoration:none;
	border-right: 3px solid #6bd3ff;
	transition: all 0.1s ease 0s;
}

.bar a:hover {
	background-color:#bde5ff;
	color:black;
	border-radius: 10px;
	transition: all 0.1s ease 0s;
}

.bar a:active {
	background-color:#ffaa00;
	color:black;
}

.title {
	background-color:#ffff00;
	width: auto;
	border-radius: 16px;
}

.board {
	top:15%;
	left:30%;
	position: absolute;
	width: 60%;
	background-color: rgba(129, 241, 185, 0.5);
	border: 5px solid #81f1b9;
	border-radius: 20px;
	box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
	padding:20px;
	overflow:hidden;
}

.text {
	top:35%;
	left:30%;
	position: absolute;
	width: 60%;
	height: 40%;
	background-color: rgba(129, 241, 185, 0.5);
	border: 5px solid #81f1b9;
	border-radius: 20px;
	box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
	padding:20px;
	overflow:auto;
}

.bottom {
	bottom:5%;
	left:30%;
	position: absolute;
	width: 60%;
	background-color: rgba(129, 241, 185, 0.5);
	border: 5px solid #81f1b9;
	border-radius: 20px;
	box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
	padding:20px;
	text-align:center;
}